.navigation {
  width: 100%;
  height: 75px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  background: #fff;
  z-index: 99;
}
.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.navLinks ol {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navLinks ol li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
  font-size: 22px;
  font-weight: 600;
}

.navLinks ol li a {
  text-decoration: none;
  color: #171e2b;
}

.navLinks ol li a.active {
  font-size: 24px;
  text-decoration: underline;
}

.navJoinMobile button,
.navJoin button {
  background-color: #f7fbff;
  border: 2px solid #171e2b;
  border-radius: 50px;
  padding: 10px 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-0.17deg);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* small screens nav managemment */
@media only screen and (max-width: 1100px) {
  .navigation {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navigation .logo {
    padding: 0;
  }
}

/* mobile menu */
.navLinksMobile ol {
  padding: 0;
}

.navLinksMobile ol li {
  list-style: none;
  padding: 5px 20px;
}

.navLinksMobile ol li a {
  font-size: 20px;
  text-decoration: none;
  color: #f7fbff;
  width: 100%;
}

.navLinksMobile ol li a.active {
  border: 1px solid #f7fbff;
  border-radius: 20px;
  display: block;
}

.navigation .mobileMenuBTN {
  display: none;
  background-color: transparent;
  border: 0;
}

.navigation .mobileMenuItem {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
  justify-content: center;
}

.navigation .mobileMenuItem {
  display: none;
}

.navigation .navJoinMobile button {
  border-radius: 0;
  width: 70%;
}

.navigation .navJoinMobile {
  position: relative;
  bottom: -100px;
}

@media screen and (max-width: 990px) {
  .navigation .navLinks,
  .navigation .navJoin {
    display: none;
  }
  .navigation .mobileMenuBTN {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 990px) {
  .navigation.responsive {
    position: relative;
  }
  .navigation.responsive .mobileMenuBTN {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive .mobileMenuItem {
    display: block;
    text-align: center;
  }
}
