.courseHeader h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #058a42;
}

.courseCardContainer {
  height: 100%;
  width: 20vw;
  border: 1px solid #ced4da;
  border-radius: 20px 20px 0 0;
  box-shadow: 4px 18px 30px 1px rgb(0 0 0 / 0.53);
  transform: rotate(-0.17deg);
  transition: all 0.4s ease;
  text-align: center;
  margin-right: 25px;
  overflow: hidden;
  padding: 0;
}

.courseBody {
  padding: 25px 15px;
}

.courseCardContainer .btnContainer {
  display: flex;
  justify-content: center;
}

.courseHeading {
  background-color: #e2f0ff;
  color: #171e2b;
  padding: 5px 10px;
  width: 100%;
  font-weight: bolder;
  margin-top: 30px;
}

.checkMore {
  align-items: center;
  border: 2px solid #171e2b;
  border-radius: 8px;
  box-sizing: border-box;
  color: #171e2b;
  display: flex;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
}

.checkMore:active,
.checkMore:hover {
  outline: 0;
  border: 2px solid #058a42;
  box-shadow: #058a42 0 5px 30px -9px;
  color: #058a42;
}

.checkMore span {
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.checkMore:hover span {
  background: none;
}

@media (max-width: 990px) {
  .courseCardContainer {
    margin-right: 12px;
  }
  .courseList {
    padding: 0 !important;
  }
}

@media (max-width: 600px) {
  .courseCardContainer {
    margin-right: 0;
    width: 100% !important;
    margin-bottom: 50px;
    border-radius: 20px;
  }
  .courseList {
    flex-direction: column;
    padding: 20px !important;
  }
}

@media (min-width: 768px) {
  .checkMore {
    font-size: 24px;
    min-width: 196px;
  }
}

@media (max-width: 1370px) {
  .courseCardContainer {
    width: 24vw;
  }
}
