body{
  color: #171E2B !important ;
 }

html,body,#root{
  height:100%;
  font-family: "Work Sans", sans-serif;
}

.smallHeading{
  font-weight: bolder;
  color: #FB8574;
  vertical-align: middle;
  margin: 20px 0;
}

.smallHeadingIcon{
  margin-right: 5px;
}